/******************************* BACKGROUND *******************************/
body{
    font-family: Raleway;
    height: 100vh;
    width: 100vw;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
}
.clouds{
    background-image: url("img/clouds.png");
}
/******************************* MULTI-USE *******************************/
.grayscale{
    filter: grayscale(100%);
}
.focus:focus {
    outline:none;
}
/******************************* MUSIC *******************************/
audio {
    display:none;
}
.fa-volume-up, .fa-volume-off{
    float: right;
    font-size: 10vh;
    margin: 1% 1.5%;
}
.audio_color{
    color: orange;
}
/******************************* MAIN PAGE *******************************/
.main_page{
    position: absolute;
    border-radius: 0 0 10vh 0;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    float: left;
    text-align: center;
}
.logo{
    width: 80%;
    display: block;
    margin: 5% auto;
}
.main_page>p{
    font-size: 3.5vh;
    font-weight: bold;
}
.button{
    font-family: Raleway;
    width: 35%;
    height: 10%;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0 2%;
    background-color: gray;
    border: 1vh solid gray;
    color: white;
    border-radius: 3vh;
}
.button_color{
    background-color: darkorange;
    border: 1vh solid darkorange;
}
.button:hover {
    background-color: darkorange;
    border: 1vh solid darkorange;
}
.doraemon, .nobita{
    width: 30%;
    margin: 3% 4%;
}
.play_button{
    font-family: Raleway;
    width: 33%;
    height: 10%;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0 2%;
    background-color: dodgerblue;
    border: 1vh solid dodgerblue;
    color: white;
    border-radius: 3vh;
}
/******************************* STATUS CONTAINER *******************************/
.stats{
    position: absolute;
    border-radius: 0 0 10vh 0;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    float: left;
    text-align: center;
}
.p_1, .p_2{
    text-align: center;
    font-family: Raleway;
    width: 20%;
    font-size: 1.5vw;
    font-weight: bold;
    display: inline-block;
    padding: 2%;
    margin: 0 9%;
    background-color: dodgerblue;
    color: white;
    border-radius: 3vh;
}
.doraemon_face, .nobita_face{
    width: 20%;
    margin: 1% 11%;
}
.p1_stats, .p2_stats{
    width: 25%;
    height: 30%;
    border: 2vh solid dodgerblue;
    border-radius: 5vh;
    display: inline-block;
    margin: 1% 6%;
    background-color: white;
    font-size: 1vw;
    font-weight: bolder;
}
.red_font{
    color: orangered;
    font-weight: bold;
}
.play_again{
    font-family: Raleway;
    width: 28%;
    height: 7%;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 2%;
    background-color: darkorange;
    border: 1vh solid darkorange;
    color: white;
    border-radius: 3vh;
}
.restart{
    font-family: Raleway;
    width: 28%;
    height: 7%;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 2%;
    background-color: darkorange;
    border: 1vh solid darkorange;
    color: white;
    border-radius: 3vh;
}
/******************************* GAME AREA *******************************/
.game_area{
    width: 54%;
    height: 50%;
    float: right;
    margin: 9% -11% 0 0;
}
.row{
    width: 100%;
    height: 50%;
}
.card{
    width: 15%;
    display: inline-block;
    position: relative;
    margin: 0.5%;
    padding: 0;
}
.front{
    margin:0;
    width: 100%;
    position: absolute;
}
.back{
    margin:0;
    width: 100%;
    position: absolute;
}
.card img {
    width: 100%;
    border-radius: 1vh;
}
/******************************* WIN CONDITION *******************************/
.win_condition{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.win_condition>img{
    width: 100%;
    border-radius: 20vh;
}
/******************************* MEDIA QUERY *******************************/
@media (max-width: 450px) and (orientation: portrait) {
    .landscape{
        visibility: visible !important;
        margin: 10%;
    }
    .main_page, .fa, .stats, .p2_stats, .button, .game_area{
        display: none;
    }
    body{
        background-image: none !important;
        background-color: #468fff !important;
    }
}

@media (min-width: 451px) and (max-width: 768px)  and (orientation: portrait) {
    .landscape{
        visibility: visible !important;
        width: 50%;
        margin: 15% 25%;
    }
    .main_page, .fa, .stats, .p2_stats, .button, .game_area{
        display: none;
    }
    body{
        background-image: none !important;
        background-color: #468fff !important;
    }
}