body{
    position: relative;
    height: 100vh;
    background-image: url(img/clouds.png);
}
.body_img{
    height: 85%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.about_button{
    position: absolute;
    height: 5%;
    left: 73%;
    top: 18%;
}
.reset_button{
    position: absolute;
    height: 4%;
    left: 21%;
    top: 75%;
}
@font-face {
    font-family: 'Berlin Sans FB Demi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Demi Bold'), url('BRLNSDB.woff') format('woff');
}
.value{
    text-align: center;
    color: #646464;
    font-family: 'Berlin Sans FB Demi Bold';
    font-size: 3vh;
}
.games-played > .value{
    position:absolute;
    left: 26%;
    top: 44%;
}
.attempts > .value{
    position:absolute;
    left: 26%;
    top: 54%;
}
.accuracy > .value{
    position:absolute;
    left: 26%;
    top: 64%;
}
#game-area {
    position: relative;
    top: 25%;
    left: 38%;
    height: 70vh;
}
.youWon img{
    position: absolute;
    height: 55%;
    border: 10px solid white;
    border-radius: 20px;
}
.youWon p{
    position: relative;
    top: 150%;
    left: 10%;
    color: black;
    font-family: 'Berlin Sans FB Demi Bold';
    font-size: 10vh;
}

.card{
    display: inline-block;
    width: 7.5%;
    margin-bottom: 11%;
}
.front, .back{
    position: absolute;
    height: 100%;
}
.card img{
    height: 28%;
}
.youWon{
    height: 30%;
}